body {
  background-color: #ffffff;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;

}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: blue;
}
.top {
  color: #1da1f2;
  width: auto;
  margin: 0 auto;
  border-radius: 0;
  padding: 1em;
  background-color: #f1f2ff;
}

div {
  color: #000000;
}

.table{
  border: 5px black solid
}
